<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    {%if user.is_authenticated%}
    <h1>Welcome, {{user.username}}</h1>
    <a href="accounts/logout">Logout</a> <br>

    <a href="add">add</a>
    
    {%for note in notes%}

    <div>
        <a href="view/{{note.pk}}">{{note.title}}</a> 
        <p>{{note.description}}</p>
        <p>{{note.modified}}</p>
    </div>

    {%endfor%}


    {%else%}
    <h1>Go to register or login</h1><br>
    <a href="accounts/register">Register</a><br>
    <a href="accounts/login">login</a>
    {%endif%}


</body>
</html>