<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note</title>
  </head>
  <body>
    <form action="/create" method="post">
      {%csrf_token%}
      <input type="text" name="title" id="title" value="{{note.title}}" />
      <input type="text" name="desc" id="desc" value="{{note.description}}" />
      <input type="submit" value="Add" />
      <a href="/">Back</a>
    </form>

    <form action="/delete/{{note.pk}}" method="post">
      {%csrf_token%}
      <button type="submit" action="delete">Delete</button>
    </form>
  </body>
</html>
